<h1>Charges:</h1>

<% @user.charges.each.with_index(1) do |charge, index| %>
	<p><%= "#{index}. #{charge.content}" %></p>
<% end %>

<form action="/account" method="GET">
	<input type="submit" value="Back to Account">
</form>