<h1>Complaints:</h1>

<p><a href="/account/complaints/new">New Complaint</a></p>

<% @user.housemates.each do |hm| %>
	<% if @user.complaints.any? { |complaint| complaint.housemate == hm} %>
		<h2><%= hm.name %></h2>
		<% @user.complaints.each do |complaint| %>

			<% if complaint.housemate == hm %>
				<p><a href="/account/complaints/<%= complaint.id %>"><%= complaint.content %></a></p>
			<% end %>
		<% end %>
	<% end %>
<% end %>

<button><a href="/account">Back to account</a></button>