<h1>Complaint:</h1>

<p><b><%= @complaint.housemate.name %>: </b><%= @complaint.content %></p>

<form action="/account/complaints/<%= @complaint.id %>/edit" method="GET">
	<input type="submit" value="Edit">
</form>
<form action="/account/complaints/<%= @complaint.id %>/delete" method="POST">
	<input type="hidden" name="_method" value="DELETE">
	<input type="submit" value="Delete">
</form>