.user {
	display: none;
}

a {
	color: black;
	text-decoration: none;
}

.home_options_wrapper {
	width: 50%;

	/*border: 2px solid black;*/
	margin: 0 auto;
	text-align: center;
}

h1 {
	margin-bottom: 20px;
	text-align: center;
}

.home_option {
	display: inline-block;
	background-color: lightblue;
	color: white;
	border-radius: 5px;
	padding: 10px;
	margin: 0 20px;
}

.account_options_wrapper {
	/*display: inline-block;*/
	/*border: 2px solid orange;*/
	margin: 0 auto;
	text-align: center;
	/*color: white;*/
	/*width: auto;*/
}

.account_option {
	display: inline-block;
	background-color: lightblue;
	color: white;
	border-radius: 5px;
	padding: 10px;
	margin: 0 20px;
}

.log_out {
	display: inline-block;
	background-color: orange;
	color: white;
	border-radius: 5px;
	padding: 10px;
}

.complaint_wrapper {
	margin: 10px 0;
}

.complaint_list {
	/*display: inline-block;*/
	/*background-color: red;*/
	text-decoration: underline;
}

.new_complaint {
	display: inline-block;
	background-color: lightblue;
	color: white;
	border-radius: 5px;
	padding: 10px;
}