<h1><%= @user.name %>'s Account</h1>

<div class="account_options_wrapper">
	<div class="account_option"><a href="/account/housemates">Housemates</a></div>
	<div class="account_option"><a href="/account/complaints">Complaints</a></div>
	<div class="account_option"><a href="/account/charges">Charges</a></div>
</div>
<br>

<p><a href="/logout">Log Out</a></p>