<h1>Here's Your Account: <%= @user.name %></h1>

<p><a href="/housemates">Housemates</a></p>
<p><a href="/complaints">Complaints</a></p>
<p><a href="/charges">Charges</a></p>

<br>

<p><a href="/logout">Log Out</a></p>