<h1 class="welcome_message header">Welcome to AirOut</h1>

<div class="home_options_wrapper">
	<% if Helpers.is_logged_in?(session) %>
		<div class="home_option"><a href="/account">My Account</a></div>
		<div class="home_option"><a href="/logout">Log Out</a></div>
	<% else %>
		<div class="home_option"><a href="/signup">Sign Up</a></div>
		<div class="home_option"><a href="/login">Log in</a></div>
	<% end %>
</div>