<h1>Welcome to AirOut</h1>

<% if Helpers.is_logged_in?(session) %>
	<p><a href="/account">My Account</a></p>
	<p><a href="/logout">Log Out</a></p>
<% else %>
	<p><a href="/signup">Sign Up</a></p>
	<p><a href="/login">Log in</a></p>
<% end %>

