<h1>Log in:</h1>

<form action="/login" method="POSt">
	<p>Email: <input type="text" name="user_email"></p>
	<p>Password: <input type="text" name="user_password"></p>
	<input type="submit" value="Submit">
</form>
